body{
    background-color: white;
    margin: 0%;
}

.buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5%;
    background-color: #086c9c;
    margin: 5%;
}

.buttons div{
    text-align: center;
}

.navbar{
    background-color: #086c9c;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 5%;
    padding-right: 1%;
    color: white;
}

#AanmeldingsFormulier{
        margin: 10%;
        background-color: #086c9c;
        width: 33%;
}

#Terugvraagformulier{
    margin: 10%;
    background-color: #086c9c;
    width: 33%;
}

#Vergunningaanvraag{
    margin: 10%;
    background-color: #086c9c;
    width: 34%;
}

a{
    text-decoration: none;
    color: white;
}